*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(207, 207, 207);
}

h1{
    display: block;
    text-align: center;
    margin: 20px;  
    padding: 5px;
}

h2{
    text-align: center;
}

h3{
     text-align: center;
}

div#label1 {
    background: rgb(173, 173, 216);
    font-size: 25px;
    border: 2px solid #8b8b8b;
    border-width: 2px;
    border-right: 5px;
    text-align: center;
    font-family: cursive;
    margin: 70px;
    position:relative;
    color: rgb(241, 16, 9);
}

div#button{
    display: block;
    margin-left: 620px;
    margin-right: auto;
}